# Authentication
AM_API_KEY=am-xxxxx

# Server Configuration
AM_PORT=8881
AM_HOST=0.0.0.0
AM_ENV=development  # development, production

# Logging Configuration
AM_LOG_LEVEL=DEBUG  # DEBUG, INFO, WARNING, ERROR, CRITICAL

# Logfire Configuration
LOGFIRE_TOKEN=pylf_v1_xxxx

DATABASE_URL="postgresql://automagik:automagik@localhost:5432/automagik_agents"

# Notion Integration (Only required for Notion agent)
NOTION_TOKEN=

# Discord Integration (Only required for Discord agent)
DISCORD_BOT_TOKEN=
# LLMs
GEMINI_API_KEY=
OPENAI_API_KEY=
